@import 'normalize.css';
@import 'font-awesome.css';
div{margin:10px; border:1px dotted; 
	 border-color:grey;}  

	 #menu {
		background-color: #D0D0D0;
		height: 60px;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		}
	.nav ul{
		width:100%;
		}
	.nav ul li{
		float:left;
		list-style-type:none;
		}

	.nav ul li a{
		width:200px;
		height:28px;
		line-height:60px;
		margin:10px 10px;
		text-align:center;
		text-decoration:none;
		display:block;
		background:#D0D0D0;
	}

	.nav ul li a:link{/*鼠标点击超链接时的状态*/
		width:95px;
		height:28px;
		line-height:28px;
		background:#D0D0D0;
	}
	.nav ul li a:hover {
		width:120px;
		height:28px;
		line-height:28px;
		background:#fff;
	}

	.nav ul li ul{
		display:none;
		padding:0px;
		margin:0px;
	}
	.nav ul li ul li{
		margin-left:10px;
		float:none;
		padding:0px 0px 0px 0px;
	}
	.nav ul li ul li a{
		width:120px;
		height:28px;
		text-align:center;
		text-decoration:none;
		display:block;
		background:#bcb9b7;
		margin:0px 0px 0px 0px;
	} 
	.nav ul li:hover ul{
		display:block;
	} 

  #main{
	width:80%; margin:0 auto; 
	background-color:#F3F3F3;
  }  
 #div_bottom{	
	background-color:#D0D0D0;
	text-align:center;
	color:black;	
  }  
  #div_bottom{font-size:1.3em;padding:10px 10px;}     
  #div_left{ 
  	width:45%;	
  	float:left;
  	padding-top:14px;
	padding-bottom: 14px;
  }   
  #div_right{
  	width:45%;
  	float:right;
    padding-top:14px;
	 padding-bottom: 14px;
  	
    }
  #details {text-align:center ;}
  #details p{
  background:url(images/3.jpg);
	margin:28px 28px;
	text-indent:36px;
	line-height:28px;
	text-align:left;
	}   
	#select{
		text-align:center ;
	} 
.clear{
  clear :both;
  height :0;
}